
  <header>
    <div class="navBar">
      <a href="#" class="logo">Mr.BitCoin</a>
      <nav>
        <ul>
          <li routerLink="/"><img src="../assets/icons/home.png" /></li>
          <li routerLink="/contacts"><img src="../assets/icons/team.png" /></li>
          <li routerLink="/charts"><img src="../assets/icons/graph.png" /></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="background">
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
