.home {
    width: 100%;
    text-align: center;
}

.home img {
    width: 50px;
}

.home div {
    margin-top: 20px;
}

.home p {
    font-size: 1.5rem;
    margin-left: 10px;
}

.currAmount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.currBTC {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


.user-greeting {
    width: 100%;
    background-color: rgba(18, 19, 20, 0.582);
    padding: 15px 30px;
    text-align: left;
}

.user-data {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 470px) {
    .user-data {
        display: inline-block;
    }
}